@model Enquiry_BAL
@using System.Globalization;
@{
    CultureInfo ci = new CultureInfo("en-GB");
}
@{
    ViewBag.Title = "RegistrationMaster";
}

<style>
    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }

    .custom-control-inline-inline-block {
        position: relative;
        display: inline-block;
        min-height: 1.19437rem;
        padding-left: 1.625rem;
    }

    fieldset.border-css {
        border: 1px solid #605296;
        padding: 20px;
        margin-bottom: 30px;
        
    }

    .abc {
        height: 19px;
        width: 17px;
    }
</style>

<div id="content">

    <span id="msg"></span>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xs-offset-2">
                <div class="well well-lg mt30 mb30 ml60">

                    @using (Html.BeginForm("RegistrationMaster", "Registration", FormMethod.Post, new { id = "Enquiry", @class = "smart-form" }))
                    {
                        <h5 class="" style="color:red">Note: All ‘*' marked fields are mandatory.</h5>
                        <fieldset>
                            <legend style="text-align: center;">Registration Form</legend>
                            <div class="alert alert-danger fade in" id="DivError" style="display:none">
                                <button class="close" data-dismiss="alert">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-check"></i>
                                <strong>Error!</strong><span id="ValiError"></span>
                            </div>
                        </fieldset>
                        <fieldset class="border-css mt-3">
                            <legend class="scheduler-border"><b>Official Details</b></legend>
                            <div class="row">
                                <section class="form-group col-sm-3">
                                    <label>Institute Name <span style="color:red">*</span></label>
                                     <input type="hidden" name="hdInstituteID" id="hdInstituteID" value="-1" />
                                    @Html.DropDownListFor(model => model.InstituteID, new List<SelectListItem> { }, new { @class = "form-control" })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Session<span style="color:red">*</span></label>
                                    <input type="hidden" name="hdSessionID" id="hdSessionID" value="-1">
                                    @Html.DropDownListFor(model => model.SessionID, new List<SelectListItem> { }, new { @class = "form-control" })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Program<span style="color:red">*</span></label>
                                     <input type="hidden" id="hdProgram" value="-1" name="hDProgram" />
                                    @Html.DropDownListFor(model => model.ProgramID, new List<SelectListItem> { }, new { @class = "form-control" })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Branch<span style="color:red">*</span></label>
                                     <input type="hidden" id="hdnbranchid" name="hdnbranchid" value="-1" />
                                    @Html.DropDownListFor(model => model.BranchID, new List<SelectListItem> { }, new { @class = "form-control" })
                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-3">
                                    <label>Student Photo<span style="color:red">*</span></label>
                                    <input name="filepic" required type="file" id="uploadStudentPhoto" onchange="filePreviewStud(this);" class="form-control">
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Student Sign<span style="color:red">*</span></label>
                                    <input name="filesig" required type="file" id="uploadStudentSign" onchange="filePreviewStudSign(this);" class="form-control">
                                </section>

                                <section class="form-group col-sm-3" id="divlateral">
                                    <div class="custom-control custom-checkbox mt-5">
                                        <input type="checkbox" class="custom-control-input" id="chkislateralenq" name="chkislateralenq" onchange="LateralSemChanged()">
                                        <label class="custom-control-label" for="chkislateralenq">Required Lateral</label>
                                    </div>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset class="border-css mt-3">
                            <legend class="scheduler-border"><b>Student Details</b></legend>
                            <div class="row">
                                <section class="form-group col-sm-3">
                                    <label>Title</label>
                                    <input type="hidden" id="hdTrainee_Title" name="hdTrainee_Title" value="-1" />
                                    @Html.DropDownListFor(model => model.Trainee_Title, new List<SelectListItem> { }, new { @class = "form-control" , @placeholder = "Please Enter Title"})
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>First Name<span style="color:red">*</span></label>

                                    @Html.Editor("Trainee_FirstName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter FirstName" ,@type = "text",@required = "" }})
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Middle Name<span style="color:red">*</span></label>
                                    @Html.Editor("Trainee_MiddleName", new { htmlAttributes = new { @class = "form-control" ,@placeholder = "Please Enter MiddleName",@type = "text",@required = ""}})
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Last Name<span style="color:red">*</span></label>
                                    @Html.Editor("Trainee_LastName", new { htmlAttributes = new { @class = "form-control",@placeholder = "Please Enter LastName",@type = "text",@required = "" }})
                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-12">
                                    <label>Student Name (in Religious Language)</label>
                                    @Html.Editor("Student_ReligionName", new { htmlAttributes = new { @class = "form-control",@placeholder = "Please Enter Religion Name", @type = "text", @maxlength = "50" }})
                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-3">
                                    <label>Gender<span style="color:red">*</span></label>
                                    @*<input type="hidden" id="hdGenderID" name="hdGenderID" value="@Model.GenderID" />*@
                                    @Html.DropDownListFor(model => model.GenderID, new List<SelectListItem> { }, new { @class = "form-control",@placeholder = "Please Enter Gender", @type = "text", @maxlength = "50" })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Date of Birth <span style="color:red">*</span></label>
                                    <label class="input-group date">
                                        @* <input type="hidden" id="hdStudent_Dob" name="hdStudent_Dob" value="@Model.DateOfBirth.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)" />
                                    *@
                                        @*@if (Model.DateOfBirth == Convert.ToDateTime("01/01/1900", ci))
                                    {*@
                                        @Html.TextBoxFor(x => x.DateOfBirth, "{0:dd/MM/yyyy}", new { @class = "form-control", @placeholder = "Date Of Birth", @type = "dateFormat", @Value = "", @required = "" })
                                        @*}
                                    @*else
                                    {
                                    @Html.TextBoxFor(x => x.DateOfBirth, "{0:dd/MM/yyyy}", new { @class = "form-control", @placeholder = "Date Of Birth", @type = "dateFormat", @required = "" })
                                    }*@
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </label>
                                </section>
                                @*<section class="form-group col-sm-1">
                            <input type="text" value="@Model.MobileNoCode" required name="MobileNoCode" id="TxtMobileNoCode" class="form-control" maxlength="10" placeholder="+91">
                            <label>&nbsp;</label>
                            @Html.Editor("MobileNoCode", new { htmlAttributes = new { @class = "form-control", @placeholder = "+91", @type = "text", @maxlength = "10" } })
                            </section>*@
                                <section class="form-group col-sm-3">
                                    <label>Mobile No.<span style="color:red">*</span></label>
                                    @Html.Editor("MobileNo", new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "Please Enter Mobile No", @type = "text", @maxlength = "10" } })
                                </section>
                                @*<section class="form-group col-sm-1">
                            <input type="text" value="@Model.AlterNateNoCode" required name="AlterNateNoCode" id="AlterNateNoCode" class="form-control" maxlength="10" placeholder="+91">
                            <label>&nbsp;<span style="color:red">*</span></label>
                            @Html.Editor("AlterNateNoCode", new { htmlAttributes = new { @class = "form-control", @placeholder = "+91", @type = "text", @maxlength = "10" } })
                            </section>*@
                                <section class="form-group col-sm-3">
                                    <label>Alternate No.</label>
                                    @Html.Editor("AlternateMobNo", new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "Please Enter Alternate No", @type = "text", @maxlength = "10" } })
                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-3">
                                    <label>Email ID<span style="color:red">*</span></label>
                                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @name = "EmailID", @class = "form-control", @autocomplete = "off", @MaxLength = 100, @placeholder = "Please Enter Email Id", @Type = "text" } })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Aadhar No.<span style="color:red">*</span></label>
                                    @Html.EditorFor(model => model.AadharNo, new { htmlAttributes = new { @name = "AadharNo", @class = "form-control", @autocomplete = "off", @MaxLength = 100, @placeholder = "Please Enter Aadhar No", @Type = "text" } })
                                </section>
                                <section class="form-group col-sm-3" style="display:none">
                                    <label>Passport No<span style="color:red">*</span></label>
                                    @Html.EditorFor(model => model.PassportNo, new { htmlAttributes = new { @name = "PassportNo", @class = "form-control", @autocomplete = "off", @MaxLength = 100, @placeholder = "Please Enter Email Id", @Type = "text" } })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Blood Group</label>
                                     <input type="hidden" id="hdBlood" name="hdBlood" value="-1" />
                                     @Html.DropDownListFor(m => m.Blood, new List<SelectListItem>
                                          {

                                          }, new { @class = "form-control" })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Category<span style="color:red">*</span></label>
                                     <input type="hidden" id="hdCategoryID" name="hdCategoryID" value="-1" />
                                   @Html.DropDownListFor(m => m.CategoryID, new List<SelectListItem>
                                               {

                                               }, new { @class = "form-control", @required = "" })
                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-3">
                                     <input type="hidden" id="hdReligionID" name="hdReligionID" value="-1" />
                                    <label>Religion<span style="color:red">*</span></label>
                                   @Html.DropDownListFor(m => m.ReligionID, new List<SelectListItem>
                                               {

                                               }, new { @class = "form-control", @required = "" })

                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Nationality<span style="color:red">*</span></label>
                                    <input type="hidden" id="hdnationalityID" name="hdnationalityID" value="-1" />
                                    @Html.DropDownListFor(model => model.NationalityID, new List<SelectListItem> { }, new { @class = "form-control" })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Marital Status</label>
                                    <input type="hidden" id="hdMartialID" name="hdMartialID" value="-1" />
                                    @Html.DropDownListFor(model => model.MartialID, new List<SelectListItem> { }, new { @class = "form-control" })
                                </section>

                                <section class="form-group col-sm-3">
                                    <label>Exam Status<span style="color:red">*</span></label>
                                    <select id="ddlexamstaus" class="form-control" name="ddlexamstaus" required>
                                        <option value="">Select</option>
                                        <option value="Passed">Passed</option>
                                        <option value="Appeared">Appeared</option>
                                        <option value="Appearing">Appearing</option>
                                    </select>
                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-3">
                                    <label>Hostel Required</label>
                                    <input type="hidden" id="hdhosType" name="hdhosType" value="-1" />
                                    <select id="HostelReq" class="form-control" name="HostelReq" required>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>
                                    </select>
                                </section>
                                <section class="form-group col-sm-3">
                                    <label id="lblt">Transport Required</label>
                                    @* <input type="hidden" id="hdtrasnType" name="hdtrasnType" value="@Model.TransportReq" />*@
                                    <select id="TransportReq" class="form-control" name="TransportReq" required>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>
                                    </select>
                                </section>
                            </div>
                        </fieldset>
                        <div class="row">
                            <section class="col-md-3 mb-3" style="display:none">
                                @*<input type="hidden" id="hdnappli" value="@Model.ApplicantStatus" />
                            <input type="hidden" id="hdnmedium" value="@Model.ExamMedium" />
                            <input type="hidden" id="hdnstatus" value="@Model.ExamStatus" />
                            <input type="hidden" id="hdnback" value="@Model.BackGRound" />*@

                                <label class="form-label" id="lblh">Applicant Employment Status<span style="color:red">*</span></label>
                                <select id="ddlappli" class="form-control" name="ddlappli" required>
                                    <option value="">Select</option>
                                    <option value="Employed">Employed</option>
                                    <option value="UnEmployed">UnEmployed</option>
                                </select>
                            </section>
                            <section class="col-md-3 mb-3" style="display:none">
                                <label class="form-label" id="lblh">Examination Medium<span style="color:red">*</span></label>

                                <select id="ddlexammedium" class="form-control" name="ddlexammedium" required>
                                    <option value="">Select</option>
                                    <option value="English">English</option>
                                    <option value="Hindi">Hindi</option>
                                    <option value="Other">Other</option>
                                </select>
                            </section>
                            <section class="col-md-3 mb-3" id="medother" style="display:none">
                                <label class="form-label" id="lblh">Medium Name<span style="color:red">*</span></label>

                                <input type="text" id="txtmedium" name="txtmedium" class="form-control" />
                            </section>
                            <section class="col-md-3 mb-3" style="display:none">
                                <label class="form-label">BackGround<span style="color:red">*</span></label>
                                <select id="ddlback" class="form-control" name="ddlback" required>
                                    <option value="">Select</option>
                                    <option value="Rural">Rural</option>
                                    <option value="Urban">Urban</option>
                                    <option value="Local">Local</option>
                                </select>
                            </section>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3" id="amt" style="display:none">
                                <label>Registration Amount </label>
                                <input type="text" id="lblamt" name="lblamt" class="form-control" readonly />
                                <input type="hidden" id="hdnamt" name="hdnamt" />
                            </div>
                            <div class="col-md-3 mb-3" id="SCVTApplicationNo" style="display:none;">
                                <label class="form-label">SCVT Application No.<span style="color:red">*</span></label>

                                @Html.Editor("SCVTNo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter SCVT Application No", @type = "text", @maxlength = "50" } })


                            </div>
                            <div class="col-md-3 mb-3" id="NCVTApplicationNo" style="display:none;">

                                <label class="label">NCVT Application No.</label>

                                @Html.Editor("NCVTNo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter NCVT Application No", @type = "text", @maxlength = "50" } })




                            </div>
                        </div>
                        <div id="FldSpouse1" style="display:none">

                            <!--<legend class="col-md-12 page-title padding-top-0 padding-bottom-5">Spouse Details</legend>-->
                            @*<div id="FldSpouse">*@
                            <div class="form-row form-group">
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Spouse Title</label>

                                     <input type="hidden" id="hdSpouse_Title" name="hdSpouse_Title" value="-1" />
                                    @Html.DropDownList("Spouse_Title", new List<SelectListItem>
                                {

                                }, new { @class = "custom-select" })

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Spouse First Name </label>

                                    @Html.Editor("Spouse_FirstName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter First Name", @type = "text", @maxlength = "50" } })
                                    <div class="invalid-feedback">
                                        Please Enter Spouse First Name.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Spouse Middle Name</label>

                                    @Html.Editor("Spouse_MiddleName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Middle Name", @type = "text", @maxlength = "50" } })

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Spouse Last Name</label>

                                    @Html.Editor("Spouse_LastName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Last Name", @type = "text", @maxlength = "50" } })

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Spouse Mobile No.</label>

                                    <i class="icon-prepend fa fa-mobile-phone"></i>
                                    @Html.Editor("Spouse_MobileNo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Mobile No", @type = "text", @maxlength = "10" } })
                                    <div class="invalid-feedback">
                                        Please Enter Spouse Mobile No.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Spouse Email ID</label>

                                    <i class="icon-prepend fa fa-mobile-phone"></i>
                                    @Html.Editor("Spouse_EmailID", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Alternate No", @type = "text", @maxlength = "50" } })


                                </div>

                            </div>
                        </div>
                        <fieldset class="border-css mt-3">
                            <legend class="scheduler-border"><b>Parents Details</b></legend>
                            <div class="row">
                                <section class="form-group col-sm-3">
                                    <label>Title</label>
                                      <input type="hidden" id="hdFather_Title" name="hdFather_Title" value="-1" />
                                    @Html.DropDownListFor(model => model.Father_Title, new List<SelectListItem> { }, new { @class = "form-control" ,@placeholder = "Please Select Title" })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Father's First Name<span style="color:red">*</span></label>
                                    @Html.Editor("Father_FirstName", new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "Please Enter First Name", @type = "text", @maxlength = "50" } })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Father's Middle Name<span style="color:red">*</span></label>
                                    @Html.Editor("Father_MiddleName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Middle Name", @type = "text", @maxlength = "50" } })
                                </section>
                                <section class="form-group col-sm-3">
                                    <label>Father's Last Name<span style="color:red">*</span></label>
                                    @Html.Editor("Father_LastName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Last Name", @type = "text", @maxlength = "50" } })
                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-4">
                                    <label>Father's Name (in Religious Language)</label>
                                    @Html.Editor("Father_ReligiousName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Name", @type = "text", @maxlength = "50" } })
                                </section>
                                <section class="form-group col-sm-4">
                                    <label class="form-label">Father's Mobile No.<span style="color:red">*</span></label>
                                    @Html.Editor("Father_MobileNo", new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "Please Enter Mobile No", @type = "text", @maxlength = "10" } })

                                </section>
                                <section class="form-group col-sm-4">
                                    <label class="form-label">Father's Email ID</label>

                                    @Html.Editor("FatherEmailID", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Email ID", @type = "text", @maxlength = "50" } })

                                </section>
                            </div>
                            <div class="row" style="display:none">
                                <section class="col-md-1 mb-3">
                                    <label class="label">&nbsp;</label>
                                    @Html.Editor("FatherMobileNoCode", new { htmlAttributes = new { @class = "form-control", @placeholder = "+91", @type = "text", @maxlength = "10" } })
                                </section>

                            </div>

                            <div class="row">
                                <section class="form-group col-sm-3">
                                    <label class="form-label">Title</label>

                                     <input type="hidden" id="hdMother_Title" name="hdMother_Title" value="-1" />
                                    @Html.DropDownList("Mother_Title", new List<SelectListItem>
                                {

                                }, new { @class = "form-control",@placeholder = "Please Select Title"})


                                </section>
                                <section class="form-group col-sm-3">
                                    <label class="form-label">Mother's First Name <span style="color:red">*</span></label>

                                    @Html.Editor("Mother_FirstName", new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "Please Enter First Name", @type = "text", @maxlength = "50" } })

                                </section>
                                <section class="form-group col-sm-3">
                                    <label class="form-label">Mother's Middle Name</label>

                                    @Html.Editor("Mother_MiddleName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Middle Name", @type = "text", @maxlength = "50" } })

                                </section>
                                <section class="form-group col-sm-3">
                                    <label class="form-label">Mother's Last Name</label>

                                    @Html.Editor("Mother_LastName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Last Name", @type = "text", @maxlength = "50" } })

                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-4">
                                    <label class="form-label">Mother's Name (in Religious Language)</label>
                                    @Html.Editor("Mother_ReligiousName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Religious Name", @type = "text", @maxlength = "50" } })

                                </section>
                                @*<section class="col-md-1 mb-3">
                            <label class="label">&nbsp;</label>
                            @Html.Editor("MotherMobileNoCode", new { htmlAttributes = new { @class = "form-control", @placeholder = "+91", @type = "text", @maxlength = "10" } })

                            </section>*@
                                <section class="form-group col-sm-4">
                                    <label class="form-label">Mother's Mobile No.</label>

                                    <i class="icon-prepend fal fa-phone"></i>
                                    @Html.Editor("Mother_MobileNo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Mobile No", @type = "text", @maxlength = "10" } })


                                </section>
                                <section class="form-group col-sm-4">
                                    <label class="form-label">Mother's Email ID</label>

                                    <i class="icon-prepend fa fa-envelope-o"></i>
                                    @Html.Editor("Mother_EmailID", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Email ID", @type = "text", @maxlength = "50" } })

                                </section>
                            </div>
                            <div class="row" id="divguard">
                                <section class="form-group col-sm-3">
                                    <section class="inline-group">
                                        <section class="custom-control custom-checkbox mt-2">
                                            <input name="chklocalGuaother" class="custom-control-input" id="chklocalGuaother" type="checkbox" />
                                            <label class="custom-control-label" for="chklocalGuaother">Has Guardian other than parents</label>
                                        </section>
                                    </section>
                                </section>
                            </div>

                            <div id="dvother">
                                <div class="form-row form-group">
                                    <div class="form-group col-sm-3">
                                        <label class="form-label">Title</label>
                                    <input type="hidden" id="hdGuardian_Title" name="hdGuardian_Title" value="-1" />
                                        @Html.DropDownList("Guardian_Title", new List<SelectListItem>
                                    {

                                    }, new { @class = "form-control" })

                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="form-label">First Name <span style="color:red">*</span></label>

                                        @Html.Editor("Guardian_FirstName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter First Name", @type = "text", @maxlength = "50" } })

                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="form-label">Middle Name</label>

                                        @Html.Editor("Guardian_MiddleName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Middle Name", @type = "text", @maxlength = "50" } })

                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="form-label">Last Name</label>
                                        @Html.Editor("Guardian_LastName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Last Name", @type = "text", @maxlength = "50" } })

                                    </div>
                                    <div class="form-group col-sm-12">

                                        <label class="form-label">Guardian Name (in Religious Language)</label>
                                        @Html.Editor("Guradian_ReligiousName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Name", @type = "text", @maxlength = "50" } })

                                    </div>
                                    @*<div class="col-md-1 mb-3">
                                <label class="label">&nbsp;</label>
                                @Html.Editor("GuardianMobileNoCode", new { htmlAttributes = new { @class = "form-control", @placeholder = "+91", @type = "text", @maxlength = "10" } })

                                </div>*@
                                    <div class="form-group col-sm-4">
                                        <label class="form-label">Mobile No.<span style="color:red">*</span></label>

                                        @Html.Editor("Guardian_MobileNo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Mobile No", @type = "text", @maxlength = "10" } })

                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="form-label">Email ID </label>

                                        @Html.Editor("Guardian_EmailID", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Email ID", @type = "text", @maxlength = "50" } })

                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="form-label">Relation<span style="color:red">*</span></label>


                                        @* <input type="hidden" id="hdRelation" name="hdRelation" value="@Model.Relation" />*@
                                        @Html.DropDownList("Relation", new List<SelectListItem>
                                    {

                                    }, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <fieldset class="border-css mt-3">
                            <legend class="scheduler-border"><b>Address Details</b></legend>

                            <p class="margin-bottom-10"><strong>Correspondance Address</strong></p>

                            <div class="row">
                                <section class="form-group col-sm-12">
                                    <label class="form-label">Address<span style="color:red">*</span></label>

                                    @*   <input type="hidden" id="hdAddressID" value="@Model.AddressID" name="hdAddressID" />*@
                                    @Html.TextArea("Address", new { @rows = 2, @cols = 150, @required = "", @placeholder = "Please Enter Address ", @maxlength = 250, @class = "form-control" })

                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-4">
                                    <label class="form-label">Country<span style="color:red">*</span></label>
                                    @*
                                <input type="hidden" id="hdCountry" value="@Model.CountryID" name="hdCountry" />*@

                                    @Html.DropDownList("CountryID", new List<SelectListItem>
                                {

                                }, new { @class = "form-control", @required = "" })

                                </section>
                                <section class="form-group col-sm-4">
                                    <label class="form-label">State<span style="color:red">*</span></label>

                                    @*<input type="hidden" id="hdState" value="@Model.StateID" name="hdState" />*@

                                    @Html.DropDownList("StateID", new List<SelectListItem>
                                {

                                }, new { @class = "form-control", @required = "" })

                                </section>
                                <section class="form-group col-sm-4">
                                    <label class="form-label">District / City<span style="color:red">*</span></label>

                                    @* <input type="hidden" id="hdCity" value="@Model.CityID" name="hdCity" />*@
                                    @Html.DropDownList("CityID", new List<SelectListItem>
                                {

                                }, new { @class = "form-control", @required = "" })


                                </section>

                            </div>
                            <div class="row">
                                <section class="form-group col-sm-12">
                                    <label class="form-label">Correspondance Address (in Religious Language)<span style="color:red"></span></label>
                                    @Html.TextArea("CorAddressReligious", new { @rows = 2, @cols = 100, @placeholder = "Please Enter Address ", @maxlength = 250, @class = "form-control" })

                                </section>
                            </div>
                            <div class="row">
                                <section class="form-group col-sm-4">
                                    <label class="form-label">Pincode</label>
                                    @Html.Editor("PinCode", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Pincode", @type = "text", @maxlength = "6", @required = "" } })
                                </section>

                                <section class="form-group col-sm-4">
                                    <label class="form-label">Area</label>
                                    @Html.Editor("Area", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Area", @type = "text", @maxlength = "150" } })

                                </section>
                                <div class="row" id="checkdiv">
                                    <div class="col-md-5 mb-3">
                                        <input type="hidden" id="hdnaddchck" name="hdnaddchck" />
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input name="chklocalGua" class="custom-control-input" id="chklocalGuaId" type="checkbox" />
                                            <label class="custom-control-label" for="chklocalGuaId">Permanant Address (Other than Correspondance Address)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div id="dvCors">
                                <div class="row">
                                    <section class="form-group col-sm-12">
                                        <label class="form-label">Address<span style="color:red">*</span></label>

                                        @*<input type="hidden" id="hdnPerAdsressID" value="@Model.Permanant_AddressID" name="hdnPerAdsressID" />*@
                                        @Html.TextArea("Permanant_Address", new { @rows = 2, @cols = 150, @placeholder = "Please Enter Address ", @maxlength = 250, @class = "form-control" })

                                    </section>
                                </div>
                                <div class="row">
                                    <section class="form-group col-sm-4">
                                        <label class="form-label">Country<span style="color:red">*</span></label>
                                        @* //<input type="hidden" id="hdPerCountry" value="@Model.Permanant_CountryID" name="hdPerCountry" />*@
                                        @Html.DropDownList("Permanant_CountryID", new List<SelectListItem>
                                    {

                                    }, new { @class = "form-control" })

                                    </section>
                                    <section class="form-group col-sm-4">
                                        <label class="form-label">State<span style="color:red">*</span></label>

                                        @* <input type="hidden" id="hdPerState" value="@Model.Permanant_StateID" name="hdPerState" />*@
                                        @Html.DropDownList("Permanant_StateID", new List<SelectListItem>
                                    {

                                    }, new { @class = "form-control" })



                                    </section>
                                    <section class="form-group col-sm-4">
                                        <label class="form-label">District / City<span style="color:red">*</span></label>
                                        @*
                                    <input type="hidden" id="hdPerCity" value="@Model.Permanant_CityID" name="hdPerCity" />*@
                                        @Html.DropDownList("Permanant_CityID", new List<SelectListItem>
                                    {

                                    }, new { @class = "form-control" })

                                    </section>
                                </div>

                                <div class="row">
                                    <section class="form-group col-sm-12">
                                        <label class="form-label">Permanent Address (in Religious Language)<span style="color:red"></span></label>
                                        @Html.TextArea("PerAddressReligious", new { @rows = 2, @cols = 100, @placeholder = "Please Enter Address ", @maxlength = 250, @class = "form-control" })

                                    </section>
                                </div>
                                <div class="row">
                                    <section class="form-group col-sm-4">
                                        <label class="form-label">Pincode</label>
                                        @Html.Editor("Permanant_PinCode", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Pincode", @type = "text", @maxlength = "6" } })

                                    </section>
                                    <section class="form-group col-sm-4">
                                        <label class="form-label">Area</label>
                                        @Html.Editor("PermanantArea", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Area", @type = "text", @maxlength = "150" } })

                                    </section>
                                </div>
                            </div>
                        </fieldset>

                        <div id="Quali" style="display:none">

                            <fieldset class="border-css mt-3">
                                <legend class="scheduler-border"><b>Required Education Details</b></legend>


                                <input type="hidden" id="hdneid" name="hdneid" />
                                <input type="hidden" id="hdnboard" name="hdnboard" />
                                <input type="hidden" id="hdnroll" name="hdnroll" />
                                <input type="hidden" id="hdnyear" name="hdnyear" />
                                <input type="hidden" id="hdntmarks" name="hdntmarks" />
                                <input type="hidden" id="hdnomarks" name="hdnomarks" />
                                <input type="hidden" id="hdnage" name="hdnage" />
                                <div id="DivQuali">

                                    <fieldset>
                                        <div class="row"></div>
                                        <div class="row" id="secqualif">
                                            <div class="col col-md-12">
                                                <div class="table-responsive">
                                                    <table id="tblqualif" class="table table-striped table-bordered table-hover grid">
                                                        <thead>
                                                            <tr>
                                                                <th>Examination Passed</th>
                                                                <th>Board / University</th>
                                                                <th>RolNo</th>
                                                                <th>Year</th>
                                                                <th>Total Marks</th>
                                                                <th>Marks Obtained</th>
                                                                <th>%Age</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbldata1"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            </fieldset>
                        </div>
                        <div id="Documents" style="display:none">

                            <fieldset class="border-css mt-3">

                                <legend class="col-md-12 page-title padding-top-0 padding-bottom-3"><b>Required Documents</b></legend>
                                <div class="row" style="padding:10px">
                                    <section class="col-sm-12">
                                        <div class="inline-group">
                                            <i></i><b style="color:red">NOTE* : For documents jpeg,jpg and pdf formats are valid. Maximum file size for documents is 2 MB.</b>
                                        </div>
                                    </section>
                                </div>


                                <div id="DivPhotos">

                                    <fieldset>
                                        <div class="row"></div>
                                        <div class="row" id="secDocuments">
                                            <div class="col col-md-12">
                                                <div class="table-responsive">
                                                    <table id="tblDocuments" class="table table-striped table-bordered table-hover grid">
                                                        <thead>
                                                            <tr>
                                                                <th>Document Name</th>
                                                                <th>Mandatory</th>
                                                                <th>Upload File</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbldata2"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            </fieldset>
                        </div>
                        <div class="qualiiiiiiiiii" style="display:none">

                            <fieldset class="border-css mt-3">
                                <legend class="col-md-12 page-title padding-top-0 padding-bottom-3"><b>Required Education Details</b></legend>
                            </fieldset>
                        </div>

                        <div class="chkvalid" style="display:none">

                            <fieldset class="border-css mt-3">
                                <legend class="col-md-12 page-title padding-top-0 padding-bottom-3"><b>Education Details</b></legend>

                                <div class="form-row">
                                    <div class="col-md-3 mb-3">
                                        <label>Examination<span style="color:red"></span></label>
                                        <select id="Examination" name="Examination" class="custom-select"></select>
                                        @*@Html.Editor("Examination, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Examination", @type = "text", @maxlength = "20" } })*@

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Board<span style="color:red"></span></label>

                                        @Html.Editor("Board", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Board", @type = "text", @maxlength = "30" } })

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>School/College</label>

                                        @Html.Editor("Institute", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter School/College", @type = "text", @maxlength = "50" } })

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Roll No.</label>

                                        @Html.Editor("RollNo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Roll No.", @type = "text", @maxlength = "20" } })





                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Month of Passing</label>

                                        @Html.Editor("MonthofPassing", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Month of Passing", @type = "text", @maxlength = "10" } })

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Year Of Passing <span style="color:red"></span></label>

                                        @Html.Editor("YearOfPassing", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Year Of Passing", @type = "text", @maxlength = "4" } })

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Marks Obtained <span style="color:red"></span></label>

                                        @Html.Editor("MarksObtained", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Marks Obtained", @type = "text", @maxlength = "3" } })

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Max Marks <span style="color:red"></span></label>

                                        @Html.Editor("MaxMarks", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Max Marks", @type = "text", @maxlength = "3" } })

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Grade</label>

                                        @Html.Editor("Grade", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Grade", @type = "text", @maxlength = "3" } })

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Division</label>

                                        @Html.Editor("Division", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Division", @type = "text", @maxlength = "10" } })

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>Percentage</label>

                                        @Html.Editor("Percentage", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Percentage", @type = "text", @maxlength = "5" } })

                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label>CGPA</label>

                                        @Html.Editor("CGPA", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter CGPA", @type = "text", @maxlength = "5" } })



                                    </div>

                                    <div class="col-md-3">
                                        <div class="custom-control-inline-inline-block custom-checkbox mt-1">
                                            <input name="ishighestquli" class="custom-control-input" id="ishighestquli" type="checkbox" />
                                            <label class="custom-control-label" for="ishighestquli">IS HighestQualification</label>
                                        </div>

                                    </div>
                                </div>


                                <div class="form-row form-group mb-3">
                                    @*<input type="hidden" id="hdSub" value="@Model.Subjects" />*@
                                    <div class="col-sm-12">
                                        <div class="inline-group">

                                            <div class="custom-control-inline-inline-block custom-checkbox mt-5">
                                                <input name="chkMath" class="custom-control-input" id="chkMath" type="checkbox" />
                                                <label class="custom-control-label" for="chkMath" id="LblMath"></label>
                                            </div>
                                            <div class="custom-control-inline-inline-block custom-checkbox mt-5">
                                                <input name="ChkScience" class="custom-control-input" id="ChkScience" type="checkbox" />
                                                <label class="custom-control-label" for="ChkScience" id="LblScience"></label>
                                            </div>
                                            <div class="custom-control-inline-inline-block custom-checkbox mt-5">
                                                <input name="ChkHindi" class="custom-control-input" id="ChkHindi" type="checkbox" />
                                                <label class="custom-control-label" for="ChkHindi" id="LblHindi"></label>
                                            </div>
                                            <div class="custom-control-inline-inline-block custom-checkbox mt-5">
                                                <input name="ChkEnglish" class="custom-control-input" id="ChkEnglish" type="checkbox" />
                                                <label class="custom-control-label" for="ChkEnglish" id="LblEnglish"></label>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center">
                                    <div class="frame-wrap ml-auto">
                                        <label class="form-label" style="visibility:hidden; margin-bottom:34px;">l</label>

                                        <button type="button" name="submit" id="btnAdd" class="btn btn-info"><i class="fal fa-plus"></i>  Add </button>

                                    </div>
                                </div>

                                <div class="table-responsive" style="overflow-x:scroll;">
                                    <div class="form-row form-group">
                                        <div class="col-md-12 mb-12">
                                            <table id="tblEducationDetails" class="table table-bordered">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>
                                                            Action
                                                        </th>

                                                        <th>
                                                            Examination
                                                        </th>
                                                        <th>
                                                            Boards
                                                        </th>
                                                        <th>
                                                            School/College
                                                        </th>
                                                        <th>
                                                            Roll No.
                                                        </th>
                                                        <th>
                                                            Month Of Passing
                                                        </th>
                                                        <th>
                                                            Passing year
                                                        </th>
                                                        <th>
                                                            Marks Obtained
                                                        </th>
                                                        <th>
                                                            Max Marks
                                                        </th>
                                                        <th>
                                                            Grade
                                                        </th>
                                                        <th>
                                                            Division
                                                        </th>
                                                        <th>
                                                            Percentage
                                                        </th>
                                                        <th>
                                                            CGPA
                                                        </th>
                                                        <th>
                                                            Highest Qualification
                                                        </th>
                                                        <th>
                                                            Subjects
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody id="getSection_1">

                                                    @*@if (TempData["EducDt"] != null)
                                                {
                                                foreach (DataRow dr in ((DataTable)TempData["EducDt"]).Rows)
                                                {
                                                <tr>
                                                <td>
                                                <button type='button' class='btn btn-sm btn-outline-danger btn-icon btn-inline-block mr-1' title="Delete Education Details" data-original-title='Delete Education Details' onclick="DeleteEducation(@dr["RecordID"],this)" name="FormCommand"><i class='fal fa-times'></i></button>
                                                </td>
                                                <td>@dr["Examination"]</td>
                                                <td>@dr["Board"]</td>
                                                <td>@dr["institute"]</td>
                                                <td>@dr["RollNo"]</td>
                                                <td>@dr["MonthOfPassing"]</td>
                                                <td>@dr["YearOfPassing"]</td>
                                                <td>@dr["MarksObtained"]</td>
                                                <td>@dr["maxmarks"]</td>
                                                <td>@dr["Grade"]</td>
                                                <td>@dr["Division"]</td>
                                                <td>@dr["Percentage"]</td>
                                                <td>@dr["CGPA"]</td>
                                                <td>@dr["IsHighest"]</td>
                                                <td>@dr["Subjects"]</td>
                                                </tr>
                                                @*<input type="button" id="btnDelete" name="FormCommand" value="Delete_" style="display:none">
                                                }
                                                }*@



                                                </tbody>

                                                <input type="hidden" id="hdExamination" value="" name="hdExamination" />
                                                <input type="hidden" id="hdBoards" value="" name="hdBoards" />
                                                <input type="hidden" id="hdInstitute" value="" name="hdInstitute" />
                                                <input type="hidden" id="hdRollNo" value="" name="hdRollNo" />
                                                <input type="hidden" id="hdMonthOFPassing" value="" name="hdMonthOFPassing" />
                                                <input type="hidden" id="hdYearOfPassing" value="" name="hdYearOfPassing" />
                                                <input type="hidden" id="hdMarksObtained" value="" name="hdMarksObtained" />
                                                <input type="hidden" id="hdMaxMarks" value="" name="hdMaxMarks" />
                                                <input type="hidden" id="hdGrade" value="" name="hdGrade" />
                                                <input type="hidden" id="hdDivision" value="" name="hdDivision" />
                                                <input type="hidden" id="hdPercentage" value="" name="hdPercentage" />
                                                <input type="hidden" id="hdCGPA" value="" name="hdCGPA" />
                                                <input type="hidden" id="hdishighest" value="" name="hdishighest" />
                                                <input type="hidden" id="hdSubjects" value="" name="hdSubjects" />
                                                @*<input type="hidden" name="hdEditOptionMode" id="hdEditOptionMode" value="@Model.optMode">
                                            <input type="hidden" name="hdEditReg" id="hdEditReg" value="@Model.RegistrationID">*@




                                            </table>

                                            @* <input type="hidden" name="hdregno" id="hdregno" value="@Model.RegistrationNo">
                                        <input type="hidden" name="hdenqno" id="hdenqno" value="@Model.EnquiryNo">*@
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <fieldset>




                            <div class="form-row form-group mt-5" style="display:none">
                                <div class="col-md-4 mb-4">

                                    <label class="form-label">&nbsp;</label>
                                    @*             <input type="hidden" name="hdIsDisabled" value="@Model.IsDisabled" id="hdIsDisabled" />*@
                                    @Html.CheckBox("IsDisabled", new { @onclick = "getIsDefault()", id = "NoEndDate", @class = "abc" })<i></i><text>Is Disabled / Handicapped</text>


                                </div>


                                <div id="dvhandidescip" style="display:none">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Description<span style="color:red"></span></label>
                                        @Html.TextArea("Description", new { @rows = 5, @cols = 150, @placeholder = "Please Enter Description ", @maxlength = 250, @class = "form-control" })
                                    </div>
                                </div>
                            </div>





                            <div id="refID" style="display:none">
                                >
                                <div class="form-row form-group">
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label" id="lbl0">Reference Type</label>

                                        @*  <input type="hidden" id="hdReferenceType" name="hdReferenceType" value="@Model.ReferenceType" />*@
                                        @Html.DropDownList("Model.ReferenceType", new List<SelectListItem>
                                    {


                                    new SelectListItem {Text = "Student", Value = "Student"},
                                    new SelectListItem {Text = "Ex-Student", Value = "Ex-Student"},
                                    //new SelectListItem {Text = "Ex-Staff", Value = "3"},


                                    }, "Reference Type", new { @class = "custom-select" })


                                    </div>
                                    <div class="col-md-3 mb-3">

                                        <label class="form-label" id="lbl1" style="display:none">Admission/Roll No.<span style="color:red">*</span></label>

                                        @Html.Editor("RefNo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter NCVT/Reg/Roll No.", @type = "text", @maxlength = "50", @style = "display:none" } })


                                    </div>
                                    <div class="col-md-3 mb-3">

                                        <label class="form-label" id="lbl2" style="display:none">Name<span style="color:red">*</span></label>

                                        @Html.Editor("RefName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Name", @type = "text", @maxlength = "50", @style = "display:none" } })


                                    </div>
                                    <div class="col-md-3 mb-3">

                                        <label class="form-label" id="lbl3" style="display:none">Mobile No.<span style="color:red">*</span></label>

                                        @Html.Editor("RefMobileNo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Please Enter Mobile No.", @type = "text", @maxlength = "10", @style = "display:none" } })


                                    </div>
                                    <div class="col-md-3 mb-4">
                                        <div class="custom-control custom-checkbox mt-5">
                                            <input name="chklocalGuaAgency" class="custom-control-input" id="chklocalGuaAgency" type="checkbox" onchange="EnquirdChanged();">
                                            <label class="custom-control-label" for="chklocalGuaAgency">Agency/ Consultant</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-6" id="fldsGuardianDetails" style="display:none;">


                                        <label class="form-label">Agency Name<span style="color:red">*</span></label>

                                        @*  <input type="hidden" id="hdAgencyID" name="hdAgencyID" value="@Model.AgencyID" />*@
                                        @Html.DropDownList("AgencyID", new List<SelectListItem>
                                    {

                                    }, new { @class = "custom-select" })

                                        <div class="invalid-feedback">
                                            Please Select Agency Name.
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--<legend class="col-md-12 page-title padding-top-0 padding-bottom-5">Note/Remarks</legend>-->
                            <div class="form-row form-group mt-2" style="display:none">

                                <div class="col-md-12 mb-12">
                                    <label class="input">Remarks</label>



                                    @Html.TextArea("Remarks", new { @rows = 5, @cols = 150, @placeholder = "Please Enter Remarks ", @maxlength = 250, @class = "form-control" })

                                </div>
                            </div>

                        </fieldset>

                        <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center">
                            <div class="frame-wrap ml-auto">
                                @*@if (Model.RegistrationID == -1)
                            {
                            <button type="submit" name="FormCommand" id="btnSave" value="SaveRegistration" style="display:none" class="btn btn-info"> <i class="fal fa-save"></i> Save </button>
                            <button type="button" name="FormCommand" id="btnsubmit" value="SaveReg" class="btn btn-info"> <i class="fal fa-save"></i> Submit </button>
                            <button type="reset" name="reset" id="btnclear" class="btn btn-default"> Clear </button>
                            }
                            else
                            {

                            <button type="submit" name="FormCommand" id="btnSave" value="SaveRegistrationUpdate" class="btn btn-info"> <i class="fal fa-save"></i> Update </button>
                            <button type="reset" name="reset" id="btnCancel" class="btn btn-default"> Cancel </button>

                            }*@
                            </div>
                        </div>
                    }
                    @*<input type="hidden" id="hdBatchID" value="@Model.BatchID" name="hdBatchID" />
                    <input type="hidden" id="hdEnquiryID" value="@Model.EnquiryID" name="hdEnquiryID" />
                    <input type="hidden" id="hdFatherID" value="@Model.FatherID" name="hdFatherID" />
                    <input type="hidden" name="hdStudentID" id="hdStudentID" value="@Model.StudentID">
                    <input type="hidden" name="hdMotherID" id="hdMotherID" value="@Model.MotherID">
                    <input type="hidden" name="hdGuardianID" id="hdGuardianID" value="@Model.GuardianID">
                    <input type="hidden" name="hdSpouseID" id="hdSpouseID" value="@Model.SpouseID">

                    <input type="hidden" name="hdDescription" id="hdDescription" value="@Model.Description">*@



                </div>

            </div>
        </div>
    </div>
</div>

<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap/bootstrap-multiselect.js"></script>
<script src="~/Scripts/eSCOP/CommonBinder.js"></script>
<script type="text/javascript">
    (function() {
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $(document).ready(function() {

     LoadPermissionWiseInstitute("#InstituteID", $('#hdInstituteID').val() == "-1" ? "" : $('#hdInstituteID').val(), 1);
     LoadStdAcademicSessionWiseSession("#SessionID", $("#hdSessionID").val() == "-1" ? "" : $("#hdSessionID").val(), $("#hdInstituteID").val(), -1);

     LoadBatch("#BatchID", $("#hdBatchID").val() == "-1" ? "" : $("#hdBatchID").val());

     LoadEducationExam("#Examination","","-1")
     // Examination LoadBatchSessionWise("#BatchID", $("#hdSessionID").val() == 0 ? "-1" : $("#hdSessionID").val(), $("#hdBatchID").val() == "-1" ? "" : $("#hdBatchID").val());

     LoadInstituteWiseProgram("#ProgramID", $("#hdProgram").val() == "-1" ? "" : $("#hdProgram").val(), $('#hdInstituteID').val() == "-1" ? "-1" : $('#hdInstituteID').val(), 1);
     //LoadBranch("#BranchID", $("#hdnbranchid").val() == "-1" ? "" : $("#hdnbranchid").val(), 1);
     LoadProgramWiseBranch("#BranchID", $("#hdProgram").val() == "-1" ? "-1" : $("#hdProgram").val(), $('#hdInstituteID').val() == "-1" ? "-1" : $('#hdInstituteID').val(), $("#hdnbranchid").val() == "-1" ? "" : $("#hdnbranchid").val())
    
     $("#InstituteID").change(function () {
         var InstituteID = $("#InstituteID").val();
         ProgramID = $("#ProgramID").val();
         LoadStdAcademicSessionWiseSession("#SessionID", $("#hdSessionID").val() == "-1" ? "" : $("#hdSessionID").val(), InstituteID == "-1" ? "-1" : InstituteID, -1);
         LoadInstituteWiseProgram("#ProgramID", $("#hdProgram").val() == "-1" ? "" : $("#hdProgram").val(), InstituteID == "-1" ? "-1" : InstituteID);
     });
     $("#ProgramID").change(function () {
            var ProgramID = $("#ProgramID").val();
            var InstituteID = $("#InstituteID").val();
            var SessionID = $("#SessionID").val();
            LoadProgramWiseBranch("#BranchID", ProgramID == "-1" ? "-1" : ProgramID, InstituteID == "-1" ? "-1" : InstituteID)
        });
        
        LoadTitle("#Trainee_Title", $("#hdTrainee_Title").val() == "-1" ? "" : $("#hdTrainee_Title").val(), -1);

        LoadGender("#GenderID", $("#hdGenderID").val() == "-1" ? "" : $("#hdGenderID").val(), 0);
        LoadBlood("#Blood", $("#hdBlood").val() == "" ? "-1" : $("#hdBlood").val(), -1);
        LoadCategory("#CategoryID", $("#hdCategoryID").val() == "" ? "-1" : $("#hdCategoryID").val(), -1);
        LoadPermissionnationality("#NationalityID", $('#hdnationalityID').val() == "-1" ? "" : $('#hdnationalityID').val(),-1);

        LoadTitle("#Spouse_Title", $("#hdSpouse_Title").val() == "-1" ? "" : $("#hdSpouse_Title").val());
        LoadTitle("#Father_Title", $("#hdFather_Title").val() == "-1" ? "" : $("#hdFather_Title").val());
        LoadTitle("#Mother_Title", $("#hdMother_Title").val() == "-1" ? "" : $("#hdMother_Title").val());
        LoadTitle("#Guardian_Title", $("#hdGuardian_Title").val() == "-1" ? "" : $("#hdGuardian_Title").val());



        LoadReligion("#ReligionID", $("#hdReligionID").val() == "" ? "-1" : $("#hdReligionID").val(), -1);
        LoadMaritalStatus("#MartialID", $("#hdMartialID").val() == "" ? "-1" : $("#hdMartialID").val());
        LoadRelation("#Relation", $("#hdRelation").val() == "-1" ? "" : $("#hdRelation").val(), 1);
        LoadAgency("#AgencyID", "", 1)


        LoadCountry("#CountryID", $("#hdCountry").val() == "-1" ? "" : $("#hdCountry").val(), 1);
        var CountryID = $('#CountryID').find(':selected').val();
        LoadState("#StateID", $("#hdCountry").val() == "-1" ? "" : $("#hdCountry").val(), $("#hdState").val() == "-1" ? "" : $("#hdState").val(), 1);
        LoadCity("#CityID", $("#hdState").val() == 0 ? "-1" : $("#hdState").val(), $("#hdCity").val() == "-1" ? "" : $("#hdCity").val(), 1);
        
        $("#CountryID").change(function() {
            $("#hdState").val("-1")
            var Country = $(this).val();
            LoadState("#StateID", Country == "0" ? "" : Country, $("#hdState").val() == "-1" ? "" : $("#hdState").val(), 1);
            //LoadState("#StateID", Country == "-1" ? "-1" : Country);
        });

        $("#StateID").change(function() {
            $("#hdCity").val("-1")
            var State = $(this).val();

            LoadCity("#CityID", $(this).val(), $("#hdCity").val() == "-1" ? "" : $("#hdCity").val(), 1);
        });

        //Permanent
        LoadCountry("#Permanant_CountryID", $("#hdPerCountry").val() == "-1" ? "" : $("#hdPerCountry").val(), 1);

        var PerCountryID = $('#Permanant_CountryID').find(':selected').val();
        LoadState("#Permanant_StateID", $("#hdPerCountry").val() == "-1" ? "" : $("#hdPerCountry").val(), $("#hdPerState").val() == "-1" ? "" : $("#hdPerState").val(), 1);
        LoadCity("#Permanant_CityID", $("#hdPerState").val() == 0 ? "-1" : $("#hdPerState").val(), $("#hdPerCity").val() == "-1" ? "" : $("#hdPerCity").val(), 1);

        $("#Permanant_CountryID").change(function() {
            $("#hdPerState").val("-1")
            var Country = $(this).val();
            LoadState("#Permanant_StateID", Country == "0" ? "" : Country, $("#hdPerState").val() == "-1" ? "" : $("#hdPerState").val(), 1);
        });
        $("#Permanant_StateID").change(function() {
            $("#hdCity").val("-1")
            var State = $(this).val();
            LoadCity("#Permanant_CityID", $(this).val(), $("#hdPerCity").val() == "-1" ? "" : $("#hdPerCity").val(), 1);
        });
    });

    $("#DateOfBirth").datepicker({


            defaultDate: "+1w",
            dateFormat: "dd/mm/yy",

            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            prevText: '<i class="fal fa-chevron-left"></i>',
            nextText: '<i class="fal fa-chevron-right"></i>',

            maxDate: ValidDate


        });


</script>